<form #form="ngForm" (ngSubmit)="onSave(form)">
  <div class="form-group">
    <span class="input-group-addon" id="basic-addon1">Title</span>
    <input type="text" class="form-control" #title="ngModel" required [(ngModel)]="postPayload.title" name="title" placeholder="Title" aria-describedby="basic-addon1">
  </div>
  <div class="form-group">
    <span class="input-group-addon" id="basic-addon1">Content</span>

    <editor #content="ngModel" [(ngModel)]="postPayload.content" name="content" [init]="{
      height: 500,
      menubar: false,
      plugins: [
        'advlist autolink lists link image charmap print preview anchor',
        'searchreplace visualblocks code fullscreen',
        'insertdatetime media table paste code help wordcount'
      ],
      toolbar:
        'undo redo | formatselect | bold italic backcolor | \
        alignleft aligncenter alignright alignjustify | \
        bullist numlist outdent indent | removeformat | help'
    }"></editor>
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
